<ion-content>


   <!--div class="presentacion">
      <div class="expanding sombra bg-1">
         <ion-button expand="block" fill="clear" routerLink="/mi-home">
            <ion-icon slot="start" name="star" ></ion-icon>
            <p *ngIf="valor === true">Montaje Industrial</p>
          </ion-button>
      </div>
      <div class="expanding sombra bg-2">
         <ion-button  expand="block" fill="clear" routerLink="/mm-home">
            <ion-icon slot="start" name="star" ></ion-icon>
            <p *ngIf="valor === true">Metalmecánica</p>  
         </ion-button>
      </div>
      <div class="expanding sombra bg-3" >
         <ion-button  expand="block" fill="clear" routerLink="/ct-home">
            <ion-icon slot="start" name="star" ></ion-icon>
            <p *ngIf="valor === true">Construcción</p>    
         </ion-button>
      </div>
      <div class="expanding sombra bg-4">
         <ion-button  expand="block" fill="clear" routerLink="/ct-home">
            <ion-icon slot="start" name="star" ></ion-icon>
            <p *ngIf="valor === true">Hogar</p> 
         </ion-button>
      </div>
   
   </div-->
<div class="presentacion">
   <ion-grid>
     
      <ion-row >
        <ion-col size="3" >
         <div class="expanding sombra bg-1">
            <ion-button class="altura-presenta-button" expand="block" fill="clear" routerLink="/mi-home">
               <!-- <ion-icon slot="start" name="star" ></ion-icon> -->
               <ion-text >
                  <h1 class="titulo-presenta " *ngIf="valor === true">Montaje Industrial</h1>
               </ion-text>
               
             </ion-button>
         </div>
        </ion-col>

        <ion-col size="3" >
         <div class="expanding sombra bg-2">
            <ion-button class="altura-presenta-button" expand="block" fill="clear" routerLink="/mm-home">
               <!-- <ion-icon slot="start" name="star" ></ion-icon> -->
               <h1 class="titulo-presenta" *ngIf="valor === true">Metalmecánica</h1>  
            </ion-button>
         </div>
        </ion-col>

        <ion-col size="3">
         <div class="expanding sombra bg-3" >
            <ion-button class="altura-presenta-button" expand="block" fill="clear" routerLink="/ct-home">
               <!-- <ion-icon slot="start" name="star" ></ion-icon> -->
               <h1 class="titulo-presenta" *ngIf="valor === true">Construcción</h1>    
            </ion-button>
         </div>
        </ion-col>

        <ion-col size="3">
         <div class="expanding sombra bg-4">
            <ion-button class="altura-presenta-button" expand="block" fill="clear" routerLink="/ct-home">
               <!-- <ion-icon slot="start" name="star" ></ion-icon> -->
               <h1 class="titulo-presenta" *ngIf="valor === true">Hogar</h1> 
            </ion-button>
         </div>
     
       </ion-col>
      </ion-row>
      <ion-row class="mt-01">
         <ion-col class="ion-text-right">
            <p class="bd-01">Baires</p>         
         </ion-col>
         <ion-col class="ion-text-left">
            <p class="bd-02">dom</p>
         </ion-col>
      
      </ion-row>  
    </ion-grid>
   </div>
</ion-content>
