.btn{
    /*border: 1px solid black;
    
    border-radius: 2em;
    @media (max-width: 1200px) {
        
    }
    
    @media (max-width: 800px) {
        
    }

    @media (max-width: 560px) {
        visibility: hidden;
    }*/
    color: blanchedalmond !important;
    
}
.header-bg{
    background-color: var(--ion-color-mi-primario) !important;
}
.header-grid{

    width: 100% !important;
    @media (max-width: 1200px) {
        
    }
    
    @media (max-width: 800px) {
        
    }

    @media (max-width: 500px) {
        //visibility: hidden;
    }
}

ion-grid ion-row {
    //justify-content: flex-end !important;
    justify-content: center !important;
}
