<ion-header no-border >
    <ion-toolbar color="mi-primario">
        <ion-buttons slot="start" class="header-bg">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        
        <ion-grid class="header-grid header-bg" *ngIf="valor == true">
            <ion-row class="header-row">
                <ion-col *ngFor="let item of navitems | async" size="2" size-lg="2" size-md="3" size-sm="6" size-xs="6" >
                    <ion-button size="small" shape="round" [color]="getColorSecu()" [routerLink]="item.url">
                        <ion-icon slot="start" [name]="item.icon" ></ion-icon>
                        <p class="btn">{{item.title}}</p>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-button *ngIf="valor == false" shape="round"  color="mi-secundario" expand="full" (click)="menu()">
            Navegar
        </ion-button> 
    </ion-toolbar>
</ion-header>     
