/*.slide-srv{
    width: 100% !important;
    //height: 550px !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
}

.mi-imagen{
    height: 200px !important;
    width: 200px !important;
    margin: auto !important;
}

ion-slides ion-slide {
    height: 35vh !important;

    @media (max-width: 800px) {
        height: 43vh !important;
        width: 20vh !important;
        font-size: 20px !important;
    }
    @media (max-width: 560px) {
        height: 40vh !important;
        width: 22vh !important;
        font-size: 12px !important;
    }
    ion-card{
        height: 260px !important;
        width: 300px !important;      
    }

    ion-card-title { // título del card servicio
        font-size: 18px !important;
        font-weight: bold;
        margin-top: 0px !important;
        font-family: 'Montserrat', sans-serif;
        @media (max-width: 800px) {
            font-size: 20px !important;
        }
        @media (max-width: 560px) {
            font-size: 16px !important;
        }
    }
}

ion-card img {
    padding-top: 1vh !important;
    @media (max-width: 800px) {
    }
    @media (max-width: 560px) {
    }
}


// slider
.swiper-slide {
    text-align: center;
    font-size: 18px;
    //background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }*/

ion-card{

    height: 350px !important;

    @media (max-width: 320px) {
        height: 250px !important;
    }
    @media (max-width: 480px) {
        height: 275px !important;
    }
    @media (max-width: 640px) {
        height: 300px !important;
    }
    @media (max-width: 800px) {
        height: 350px !important;
    }
    @media (max-width: 1200px) {
        height: 350px !important;
    }


    img{
        object-fit: cover;
        
        height: 250px !important;

        @media (max-width: 320px) {
            height: 200px !important;
        }
        @media (max-width: 480px) {
            height: 200px !important;
        }
        @media (max-width: 640px) {
            height: 200px !important;
        }
        @media (max-width: 800px) {
            height: 250px !important;
        }
        @media (max-width: 1200px) {
            height: 250px !important;
        }
    }

    ion-card-title{
      font-family: 'Julius Sans One', sans-serif;
      font-weight: bold;
    }
}


.srv-vacio{
  margin-top: 15vh !important;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  //
  text-align: center !important;
  margin-bottom: 15vh !important;
}
p{
  font-size: 40px !important;
  color: var(--ion-color-mi-terciario) !important;
}

// Animated
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }