<app-header  [navitems]="nav" [valor]="valor" ></app-header>

<ion-content>
    <div class="slide-srv">
        <ion-slides #slides [options]= "slideOptsGrande" *ngIf="valor == true" (ionSlideTap)="slideClick($event)" pager="true">
            <ion-slide *ngFor="let servicio of servicios | async"  color="dark">
                <ion-card > 
                    <div class="mi-imagen">
                        <img [src]="servicio.imagen" (click)="cardClick(servicio)">
                    </div>
                    <ion-card-header>
                        <ion-card-title (click)="cardClick(servicio)">{{servicio.titulo}}</ion-card-title>
                        
                    </ion-card-header>
                    <ion-card-subtitle>{{servicio.subtitulo}}</ion-card-subtitle>
                </ion-card>
            </ion-slide>
        </ion-slides>

        <ion-slides [options]= "slideOptsChico" *ngIf="valor == false">
            <ion-slide *ngFor="let servicio of servicios | async">
                <ion-card >
                    <img [src]="servicio.imagen" (click)="cardClick(servicio)">
                    <ion-card-header>
                        <ion-card-title (click)="cardClick(servicio)">{{servicio.titulo}}</ion-card-title>
                        <ion-card-subtitle>{{servicio.subtitulo}}</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>
    <app-mi-servicio *ngIf="mostrarServicio" 
                    [srvClick] = "srvClick">
    </app-mi-servicio>


    <app-footer class="footer"></app-footer>
</ion-content>
