.slide-srv{
    width: 100% !important;
    //height: 550px !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
}

/*ion-slides{

}*/
.mi-imagen{
    height: 200px !important;
    width: 200px !important;
    margin: auto !important;
}

ion-slides ion-slide {
    height: 35vh !important;

    @media (max-width: 800px) {
        height: 43vh !important;
        width: 20vh !important;
        font-size: 20px !important;
    }
    @media (max-width: 560px) {
        height: 40vh !important;
        width: 22vh !important;
        font-size: 12px !important;
    }
    ion-card{
        height: 260px !important;
        width: 300px !important;      
    }

    ion-card-title { // título del card servicio
        font-size: 18px !important;
        font-weight: bold;
        margin-top: 0px !important;
        font-family: 'Montserrat', sans-serif;
        @media (max-width: 800px) {
            font-size: 20px !important;
        }
        @media (max-width: 560px) {
            font-size: 16px !important;
        }
    }
}

ion-card img {
    padding-top: 1vh !important;
    @media (max-width: 800px) {
    }
    @media (max-width: 560px) {
    }
}


// slider
.swiper-slide {
    text-align: center;
    font-size: 18px;
    //background: black;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }