// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  
  // Montaje Industrial
  // MI - Primario

  --ion-color-mi-primario: #EEEEEE;
  --ion-color-mi-primario-rgb: 238,238,238;
  --ion-color-mi-primario-contrast: #000000;
  --ion-color-mi-primario-contrast-rgb: 0,0,0;
  --ion-color-mi-primario-shade: #d1d1d1;
  --ion-color-mi-primario-tint: #f0f0f0;

  // MI - Secundario
  --ion-color-mi-secundario: #FFA500;
  --ion-color-mi-secundario-rgb: 255,165,0;
  --ion-color-mi-secundario-contrast: #000000;
  --ion-color-mi-secundario-contrast-rgb: 0,0,0;
  --ion-color-mi-secundario-shade: #e09100;
  --ion-color-mi-secundario-tint: #ffae1a;
  // MI - Terciario
  --ion-color-mi-terciario: #AAAAAA;
  --ion-color-mi-terciario-rgb: 170,170,170;
  --ion-color-mi-terciario-contrast: #000000;
  --ion-color-mi-terciario-contrast-rgb: 0,0,0;
  --ion-color-mi-terciario-shade: #969696;
  --ion-color-mi-terciario-tint: #b3b3b3;

 
  // MI - Contorno imágenes
  --ion-color-mi-contorno: #222428;
  --ion-color-mi-contorno-rgb: 34,34,34;
  --ion-color-mi-contorno-contrast: #ffffff;
  --ion-color-mi-contorno-contrast-rgb: 255,255,255;
  --ion-color-mi-contorno-shade: #1e2023;
  --ion-color-mi-contorno-tint: #383a3e;


  // Metalmecánica
 // MM - Primario
  --ion-color-mm-primario: #EEEEEE;
  --ion-color-mm-primario-rgb: 238,238,238;
  --ion-color-mm-primario-contrast: #000000;
  --ion-color-mm-primario-contrast-rgb: 0,0,0;
  --ion-color-mm-primario-shade: #d1d1d1;
  --ion-color-mm-primario-tint: #f0f0f0;
 // MM- Secundario
  --ion-color-mm-secundario: #545488;
  --ion-color-mm-secundario-rgb: 84,84,136;
  --ion-color-mm-secundario-contrast: #ffffff;
  --ion-color-mm-secundario-contrast-rgb: 255,255,255;
  --ion-color-mm-secundario-shade: #4a4a78;
  --ion-color-mm-secundario-tint: #656594;
 // MM - Terciario
  --ion-color-mm-terciario: #710F72;
  --ion-color-mm-terciario-rgb: 113,15,114;
  --ion-color-mm-terciario-contrast: #ffffff;
  --ion-color-mm-terciario-contrast-rgb: 255,255,255;
  --ion-color-mm-terciario-shade: #630d64;
  --ion-color-mm-terciario-tint: #7f2780;

 // Construcción
 // CT - Primario
 --ion-color-ct-primario: #EEEEEE;
 --ion-color-ct-primario-rgb: 238,238,238;
 --ion-color-ct-primario-contrast: #000000;
 --ion-color-ct-primario-contrast-rgb: 0,0,0;
 --ion-color-ct-primario-shade: #d1d1d1;
 --ion-color-ct-primario-tint: #f0f0f0;
 // CT - Secundario
 --ion-color-ct-secundario: #dd6d59;
 --ion-color-ct-secundario-rgb: 221,109,89;
 --ion-color-ct-secundario-contrast: #000000;
 --ion-color-ct-secundario-contrast-rgb: 0,0,0;
 --ion-color-ct-secundario-shade: #c2604e;
 --ion-color-ct-secundario-tint: #e07c6a;
 // CT - Terciario
 --ion-color-ct-terciario: #EDE8BE;
 --ion-color-ct-terciario-rgb: 237,232,190;
 --ion-color-ct-terciario-contrast: #000000;
 --ion-color-ct-terciario-contrast-rgb: 0,0,0;
 --ion-color-ct-terciario-shade: #d1cca7;
 --ion-color-ct-terciario-tint: #efeac5;
 // Hogar
 // HG - Primario
 --ion-color-hg-primario: #EEEEEE;
 --ion-color-hg-primario-rgb: 238,238,238;
 --ion-color-hg-primario-contrast: #000000;
 --ion-color-hg-primario-contrast-rgb: 0,0,0;
 --ion-color-hg-primario-shade: #d1d1d1;
 --ion-color-hg-primario-tint: #f0f0f0;
// HG - Secundario
 --ion-color-hg-secundario: #9393AB;
 --ion-color-hg-secundario-rgb: 147,147,171;
 --ion-color-hg-secundario-contrast: #000000;
 --ion-color-hg-secundario-contrast-rgb: 0,0,0;
 --ion-color-hg-secundario-shade: #818196;
 --ion-color-hg-secundario-tint: #9e9eb3;
// HG - Terciario
 --ion-color-hg-terciario: #E0B183;
 --ion-color-hg-terciario-rgb: 224,177,131;
 --ion-color-hg-terciario-contrast: #000000;
 --ion-color-hg-terciario-contrast-rgb: 0,0,0;
 --ion-color-hg-terciario-shade: #c59c73;
 --ion-color-hg-terciario-tint: #e3b98f;
}

// %%%%%%%%%%%%% Fin Root %%%%%%%%%%%%%
 // Montaje industrial

 // MI - Primario
 .ion-color-mi-primario {
  --ion-color-base:         var(--ion-color-mi-primario);
  --ion-color-base-rgb:     var(--ion-color-mi-primario-rgb);
  --ion-color-contrast:     var(--ion-color-mi-primario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mi-primario-contrast-rgb);
  --ion-color-shade:        var(--ion-color-mi-primario-shade);
  --ion-color-tint:         var(--ion-color-mi-primario-tint);
}
 // MI - Secundario
 .ion-color-mi-secundario {
  --ion-color-base:         var(--ion-color-mi-secundario);
  --ion-color-base-rgb:     var(--ion-color-mi-secundario-rgb);
  --ion-color-contrast:     var(--ion-color-mi-secundario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mi-secundario-contrast-rgb);
  --ion-color-shade:        var(--ion-color-mi-secundario-shade);
  --ion-color-tint:         var(--ion-color-mi-secundario-tint);
}
 // MI - Terciario
 .ion-color-mi-terciario {
  --ion-color-base:         var(--ion-color-mi-terciario);
  --ion-color-base-rgb:     var(--ion-color-mi-terciario-rgb);
  --ion-color-contrast:     var(--ion-color-mi-terciario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mi-terciario-contrast-rgb);
  --ion-color-shade:        var(--ion-color-mi-terciario-shade);
  --ion-color-tint:         var(--ion-color-mi-terciario-tint);
}

// MI - Contorno imágenes
.ion-color-mi-contorno {
  --ion-color-base: var(--ion-color-mi-contorno);
  --ion-color-base-rgb: var(--ion-color-mi-contorno-rgb);
  --ion-color-contrast: var(--ion-color-mi-contorno-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mi-contorno-contrast-rgb);
  --ion-color-shade: var(--ion-color-mi-contorno-shade);
  --ion-color-tint: var(--ion-color-mi-contorno-tint);
}


// Metalmecánica
// MM - Primario
.ion-color-mm-primario {
  --ion-color-base:         var(--ion-color-mm-primario);
  --ion-color-base-rgb:     var(--ion-color-mm-primario-rgb);
  --ion-color-contrast:     var(--ion-color-mm-primario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mm-primario-contrast-rgb);
  --ion-color-shade:        var(--ion-color-mm-primario-shade);
  --ion-color-tint:         var(--ion-color-mm-primario-tint);
}
// MM - Secundario
.ion-color-mm-secundario {
  --ion-color-base:         var(--ion-color-mm-secundario);
  --ion-color-base-rgb:     var(--ion-color-mm-secundario-rgb);
  --ion-color-contrast:     var(--ion-color-mm-secundario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mm-secundario-contrast-rgb);
  --ion-color-shade:        var(--ion-color-mm-secundario-shade);
  --ion-color-tint:         var(--ion-color-mm-secundario-tint);
}
// MM - Terciario
.ion-color-mm-terciario {
  --ion-color-base:         var(--ion-color-mm-terciario);
  --ion-color-base-rgb:     var(--ion-color-mm-terciario-rgb);
  --ion-color-contrast:     var(--ion-color-mm-terciario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mm-terciario-contrast-rgb);
  --ion-color-shade:        var(--ion-color-mm-terciario-shade);
  --ion-color-tint:         var(--ion-color-mm-terciario-tint);
}

// Construcción
// CT - Primario
.ion-color-mm-primario {
  --ion-color-base:         var(--ion-color-ct-primario);
  --ion-color-base-rgb:     var(--ion-color-ct-primario-rgb);
  --ion-color-contrast:     var(--ion-color-ct-primario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ct-primario-contrast-rgb);
  --ion-color-shade:        var(--ion-color-ct-primario-shade);
  --ion-color-tint:         var(--ion-color-ct-primario-tint);
}
// CT - Secundario
.ion-color-mm-secundario {
  --ion-color-base:         var(--ion-color-ct-secundario);
  --ion-color-base-rgb:     var(--ion-color-ct-secundario-rgb);
  --ion-color-contrast:     var(--ion-color-ct-secundario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ct-secundario-contrast-rgb);
  --ion-color-shade:        var(--ion-color-ct-secundario-shade);
  --ion-color-tint:         var(--ion-color-ct-secundario-tint);
}
// CT - Terciario
.ion-color-mm-terciario {
  --ion-color-base:         var(--ion-color-ct-terciario);
  --ion-color-base-rgb:     var(--ion-color-ct-terciario-rgb);
  --ion-color-contrast:     var(--ion-color-ct-terciario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ct-terciario-contrast-rgb);
  --ion-color-shade:        var(--ion-color-ct-terciario-shade);
  --ion-color-tint:         var(--ion-color-ct-terciario-tint);
}

// Hogar
// HG - Primario
.ion-color-mm-primario {
  --ion-color-base:         var(--ion-color-hg-primario);
  --ion-color-base-rgb:     var(--ion-color-hg-primario-rgb);
  --ion-color-contrast:     var(--ion-color-hg-primario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-hg-primario-contrast-rgb);
  --ion-color-shade:        var(--ion-color-hg-primario-shade);
  --ion-color-tint:         var(--ion-color-hg-primario-tint);
}
// HG - Secundario
.ion-color-mm-secundario {
  --ion-color-base:         var(--ion-color-hg-secundario);
  --ion-color-base-rgb:     var(--ion-color-hg-secundario-rgb);
  --ion-color-contrast:     var(--ion-color-hg-secundario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-hg-secundario-contrast-rgb);
  --ion-color-shade:        var(--ion-color-hg-secundario-shade);
  --ion-color-tint:         var(--ion-color-hg-secundario-tint);
}
// HG - Terciario
.ion-color-mm-terciario {
  --ion-color-base:         var(--ion-color-hg-terciario);
  --ion-color-base-rgb:     var(--ion-color-hg-terciario-rgb);
  --ion-color-contrast:     var(--ion-color-hg-terciario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-hg-terciario-contrast-rgb);
  --ion-color-shade:        var(--ion-color-hg-terciario-shade);
  --ion-color-tint:         var(--ion-color-hg-terciario-tint);
}
