<app-header  [navitems]="nav" [valor]="valor" ></app-header>

<ion-content>
    <div class="mi-contacto-img"> 
        <img src="../../../assets/img/mi-contacto.jpg" alt="contacto">
        <p class="contactanos">Contactános</p>
    </div>
    <div class="mi-contacto-grid">
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-item >
                        <ion-icon name="pin" class="label mi-contacto-titulo" color="mi-secundario"></ion-icon>
                        <ion-label class="label mi-contacto-titulo">Calle</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item >
                        <ion-label class="label">Av siempre viva 742</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item >
                        <ion-icon name="journal" class="label mi-contacto-titulo" color="mi-secundario"></ion-icon>  
                        <ion-label class="label mi-contacto-titulo">Província</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item>
                        <ion-label class="label">Buenos Aires</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">
                    <ion-item >
                        <ion-icon name="map" class="label mi-contacto-titulo" color="mi-secundario"></ion-icon>  
                        <ion-label class="label mi-contacto-titulo">Partido</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item >
                        <ion-label class="label">3 de Febrero</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item >
                        <ion-icon name="planet" class="label mi-contacto-titulo" color="mi-secundario"></ion-icon>  
                        <ion-label class="label mi-contacto-titulo">País</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item >
                        <ion-label class="label">Argentina</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">
                    <ion-item >
                        <ion-icon name="mail-open" class="label mi-contacto-titulo" color="mi-secundario"></ion-icon>  
                        <ion-label class="label mi-contacto-titulo">C.P.</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item >
                        <ion-label class="label">1234</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item >
                        <ion-icon name="call" class="label mi-contacto-titulo" color="mi-secundario"></ion-icon>  
                        <ion-label class="label mi-contacto-titulo">Teléfono</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item >
                        <ion-label class="label">4444-4444</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">
                    <ion-item >
                        <ion-icon name="mail" class="label mi-contacto-titulo" color="mi-secundario"></ion-icon>  
                        <ion-label class="label mi-contacto-titulo">E-Mail</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-item >
                        <ion-label class="label">contacto@bairesdom.com</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="3">

                </ion-col>
                <ion-col size="3">

                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div #mapElement class="map"></div>
    <app-footer class="footer"></app-footer>
</ion-content>
