<app-header  [navitems]="nav" [valor]="valor" ></app-header>

<ion-content>
    <div>
		<ion-slides  [options]= "slideOpts" pager="true">
            <ion-slide>
                <img src="../../../assets/img/costura.jpg">
			</ion-slide>
            <ion-slide>
                <img src="../../../assets/img/costura.jpg">
			</ion-slide>
            <ion-slide>
                <img src="../../../assets/img/costura.jpg">
            </ion-slide>
        </ion-slides>
	</div>


    <app-footer class="footer"></app-footer>
</ion-content>
