    .sombra{  
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); // Sombra al card
      }
      
      ion-card{
      
          height: 350px !important;
      
          @media (max-width: 320px) {
              height: 250px !important;
          }
          @media (max-width: 480px) {
              height: 275px !important;
          }
          @media (max-width: 640px) {
              height: 300px !important;
          }
          @media (max-width: 800px) {
              height: 350px !important;
          }
          @media (max-width: 1200px) {
              height: 350px !important;
          }
      
      
          img{
              object-fit: cover;
              
              height: 250px !important;
      
              @media (max-width: 320px) {
                  height: 200px !important;
              }
              @media (max-width: 480px) {
                  height: 200px !important;
              }
              @media (max-width: 640px) {
                  height: 200px !important;
              }
              @media (max-width: 800px) {
                  height: 250px !important;
              }
              @media (max-width: 1200px) {
                  height: 250px !important;
              }
          }
      
          ion-card-title{
            font-family: 'Julius Sans One', sans-serif;
            font-weight: bold;
          }
      }
      
      
      ion-card:hover{
        // --background: var(--ion-color-mm-terciario);
        --background: #EEEEEE   ;
        box-shadow: inset 0px 0px 0px 3px var(--ion-color-mm-secundario);
        // ion-card-subtitle{
        //   color: white;
        // }
      
      }    
      
      
      .slide-srv{
        margin-left: 3%;
        margin-right: 3%;
      }


      .srv-vacio{
        margin-top: 15vh !important;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        //
        text-align: center !important;
        margin-bottom: 15vh !important;
      }
      p{
        font-size: 40px !important;
        color: var(--ion-color-mm-terciario) !important;
      }
      
      // Animated
      @-webkit-keyframes fadeIn {
          from {
            opacity: 0;
          }
        
          to {
            opacity: 1;
          }
        }
        
        @keyframes fadeIn {
          from {
            opacity: 0;
          }
        
          to {
            opacity: 1;
          }
        }
        
        .fadeIn {
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
        }
        
        
      @-webkit-keyframes fadeIn {
          from {
            opacity: 0;
          }
        
          to {
            opacity: 1;
          }
        }
        
        @keyframes fadeIn {
          from {
            opacity: 0;
          }
        
          to {
            opacity: 1;
          }
        }
        
        .fadeIn {
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
        }
      
        @-webkit-keyframes fadeInRight {
          from {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
          }
        
          to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
          }
        }
        
        @keyframes fadeInRight {
          from {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
          }
        
          to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
          }
        }
        
        .fadeInRight {
          -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
        }
        
        .animated {
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
        
      .animated.slow {
          -webkit-animation-duration: 2s;
          animation-duration: 2s;
        }

        .cont-imagen-servicio{
          margin-left: 1%;
          margin-right: 1%;
          margin-bottom: 1%;
        }
        .imagen-servicio{
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          border-radius: 4px !important;
        }