<div class = "body">
<div class="options">
  <div [class]="css1" (click)="efecto('1')" style="background:url(https://66.media.tumblr.com/6fb397d822f4f9f4596dff2085b18f2e/tumblr_nzsvb4p6xS1qho82wo1_1280.jpg);">
     <div class="shadow"></div>
     <div class="label">
        <!--div class="icon">
           <i class="fas fa-walking"></i>
        </div-->
        <ion-button  expand="block" fill="outline" shape="round" routerLink="/mi-home" color="mi-secundario">
           <ion-icon slot="start" name="star"></ion-icon>
           Montaje Industrial
        </ion-button>


        <!--div class="info">
           <div class="main">Montaje Industrial</div>
           <div class="sub">Omuke trughte a otufta</div>
        </div-->
     </div>
  </div>
  <div [class]="css2" (click)="efecto('2')" style="background:url(https://66.media.tumblr.com/8b69cdde47aa952e4176b4200052abf4/tumblr_o51p7mFFF21qho82wo1_1280.jpg);">
     <div class="shadow"></div>
     <div class="label">
         <ion-button  expand="block" fill="outline" shape="round" routerLink="/mm-home" color="mm-secundario">
            <ion-icon slot="start" name="star"></ion-icon>
            Metalmecánica
         </ion-button>
     </div>
  </div>
  <div [class]="css3" (click)="efecto('3')" style="background:url(https://66.media.tumblr.com/5af3f8303456e376ceda1517553ba786/tumblr_o4986gakjh1qho82wo1_1280.jpg);">
     <div class="shadow"></div>
     <div class="label">
      <ion-button  expand="block" fill="outline" shape="round" routerLink="/ct-home" color="ct-secundario">
         <ion-icon slot="start" name="star"></ion-icon>
         Construcción
      </ion-button>
     </div>
  </div>
  <div [class]="css4" (click)="efecto('4')" style="background:url(https://66.media.tumblr.com/5516a22e0cdacaa85311ec3f8fd1e9ef/tumblr_o45jwvdsL11qho82wo1_1280.jpg);">
     <div class="shadow"></div>
     <div class="label">
         <ion-button  expand="block" fill="outline" shape="round" routerLink="/hg-home" color="hg-secundario">
            <ion-icon slot="start" name="star"></ion-icon>
            Hogar
         </ion-button>
     </div>
  </div>
  <!--div class="option" style="background:url(https://66.media.tumblr.com/f19901f50b79604839ca761cd6d74748/tumblr_o65rohhkQL1qho82wo1_1280.jpg);">
     <div class="shadow"></div>
     <div class="label">
        <div class="icon">
           <i class="fas fa-sun"></i>
        </div>
        <div class="info">
           <div class="main">Inatethi</div>
           <div class="sub">Omuke trughte a otufta</div>
        </div>
     </div>
  </div-->
</div>


</div>