.mi-servicio-comp{
    margin-top: 1vh !important;
    margin-bottom: 50px !important;
    margin-left: 3% !important;
    
}
.mi-srv-img{
    height: 60vh !important;
}

.mi-srv-descr{
        margin-left: 3% !important;
}