<app-header  [navitems]="nav" [valor]="valor" ></app-header>

<ion-content>
    <div class="mi-nosotros-container animated fadeIn ">
        <ion-grid >
            <ion-row>
                <ion-col size="12">
                    <h1 class="animated fadeIn slow " text-center>BairesDom</h1>
                </ion-col>
            </ion-row>
            
            <ion-row>
                <ion-col size="12">
                    <div class="mi-nosotros-img-container">
                        <img class="mi-nosotros-img animated fadeIn slow" src="../../../assets/img/mi-nosotros.jpg" >
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <h2 text-center>Una empresa construída con sueños</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aperiam minus explicabo qui nobis ab voluptatem omnis quo, error dolorum sunt. Alias itaque aliquam earum ab eaque laborum mollitia corporis.</p></ion-col>
            </ion-row>

            <ion-row class="mi-empresa">
                <ion-col size="12">
                    <div class="mi-nosotros-vision-container">
                      <ion-icon name="eye" class="label tamano-icono" color="mi-secundario"></ion-icon>
                      <h2 class="label margen-h2">Nuestra Visión</h2>

                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsa quaerat sint corporis, doloribus reprehenderit ducimus dicta doloremque aut sed explicabo eum fuga porro ipsum molestias, accusantium necessitatibus alias laudantium!</p>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <div class="mi-nosotros-mision-container">
                      <ion-icon name="compass" class="label tamano-icono" color="mi-secundario"></ion-icon>
                      <h2 class="label margen-h2">Nuestra Misión</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsa quaerat sint corporis, doloribus reprehenderit ducimus dicta doloremque aut sed explicabo eum fuga porro ipsum molestias, accusantium necessitatibus alias laudantium!</p>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <div class="mi-nosotros-objetivos-container">
                      <ion-icon name="locate" class="label tamano-icono" color="mi-secundario"></ion-icon>
                      <h2 class="label margen-h2">Nuestros Objetivos</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsa quaerat sint corporis, doloribus reprehenderit ducimus dicta doloremque aut sed explicabo eum fuga porro ipsum molestias, accusantium necessitatibus alias laudantium!</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="mi-empresa">
            <ion-list #lista>
            <ion-list-header>
                <h2>Recorremos nuestro camnio junto a</h2>
            </ion-list-header>
            <ion-item-sliding *ngFor="let amigo of amigos | async">
                <ion-item >
                    <ion-avatar class="mi-nosotros-avatar" slot="start">
                        <img [src]="amigo.imagen">
                    </ion-avatar>
                    <ion-label class="mi-nosotros-texto">
                        <h2>{{amigo.empresa}}</h2>
                        <p>{{amigo.descripcion}}</p>
                        <a [href]="amigo.url" target="_blank">{{amigo.url}}</a>
                    </ion-label>
                    <ion-icon slot="end" name="swap" color="mi-secundario"></ion-icon>
                </ion-item>
                <ion-item-options side="end">
    
                <ion-item-option color="secondary" (click)="llamar(amigo.telefono)">
                    <ion-icon slot="icon-only" name="call"></ion-icon>
                </ion-item-option>
        
                </ion-item-options>
            </ion-item-sliding>
            </ion-list>
        </div>
        
    </div>

    <app-footer class="footer"></app-footer>
</ion-content>
