<app-header  [navitems]="nav" [valor]="valor" ></app-header>

<ion-content>
  <div>

  </div>
  <div class="mi-home">
    <ion-grid fixed class="mi-grid">
        <ion-row>
          <ion-col size="12" class="mi-titulo"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="mi-desc"></ion-col>
            <ion-col size="6" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="mi-img"></ion-col>
          </ion-row>
      </ion-grid>
  </div>
  <app-footer class="footer"></app-footer>
</ion-content> 
