.my-custom-menu {
    --width: 500px;
}

.mi-home{
  width: 100%;
  height: 100vh;
  content: "";
  //background-color: #99FF33 !important;
}

// Grid presentación
.mi-grid{
  width: 100% !important;
}
.mi-titulo{
  border: 2px solid black;
  height: 20vh !important;
  background-color: lightgray;
}

.mi-desc{
  border: 2px solid black;
  height: 60vh !important;
  background-color: lightgray;
}

.mi-img{
  border: 2px solid black;
  height: 60vh !important;
  background-color: lightgray;
}




// nuevo

@import url(https://fonts.googleapis.com/css?family=Expletus+Sans:600);
/*==========SCALE-IN==========*/
@-webkit-keyframes scale-in {
     0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1); opacity: 1;}
}

@keyframes scale-in {
    0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1);  opacity: 1;}
}
/*==========ROLL-OUT==========*/
@-webkit-keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}
@keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}
body{
   background: #392f28;
}
main{
  width: 100%;
  overflow: hidden;
  font-family: 'Expletus Sans', cursive;
}
.hero{
  width: 100%;
  //max-width: 1200px;
  //height: 500px;
  
  text-align: center;
  margin: 0 auto;
  background: #392f28;
  position: relative; 
  //color: #392f28;
  color:  white;


  height: 50vh !important;
  align-content: center !important;
  justify-content: center !important;
  display: flex !important;  
}

.hero h1{
  font-size: 4.1em;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  position: absolute; 
  //top: 120px;
  top: 15vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  
  @media (max-width: 800px) {
    font-size: 3.1em;
  }

  @media (max-width: 560px) {
    font-size: 3.1em;
  }
}
.hero p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin: auto;
  position: absolute; 
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  @media (max-width: 800px) {
    font-size: 1.4em;
  }

  @media (max-width: 560px) {
    font-size: 1.3em;
  }
}
.hero img{
  width: 100% !important;
  object-fit: cover !important;
  filter: opacity(.5);
}

.bar{
  width: 100%;
  height: 200px;
  /*
  background: -moz-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: -webkit-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: -ms-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: linear-gradient(161deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
*/
  //background: rgb(238,238,238);
  //background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(255,165,0,1) 35%, rgba(170,170,170,1) 100%);
  background: var(--ion-color-mi-primario);
  background: linear-gradient(90deg, var(--ion-color-mi-primario) 0%, var(--ion-color-mi-secundario) 35%, var(--ion-color-mi-terciario) 100%);

  opacity: 0.3;
  position: absolute; 
  z-index: 0;
  left: 0;
  top: 90px;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
   -webkit-animation: roll-out 1.2s ease-out ;
  -moz-animation: roll-out 1.2s ease-out ;
    animation: roll-out 1.2s ease-out ; 
}
.hero h1, .hero p{
  -webkit-animation: scale-in 1.3s ease-out;
  -moz-animation: scale-in 1.3s  ease-out;
    animation: scale-in 1.3s ease-out; 
}

.mi-home-context{
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;

    @media (max-width: 800px) {
      font-size: 20px;
    }

    @media (max-width: 560px) {
      font-size: 18px;
    }

    }
}

/*
@media all and (max-width: 768px) {
  .hero{
    height: 50vw;
  }
  .bar{
    height: 26vw;
    top: 10vw;
  }
  .hero h1{
    font-size: 8vw;
    top: 13vw;
  }
  .hero p{
    font-size: 3vw;
    top: 27vw;
  }
 
}*/