<app-header  [navitems]="nav" [valor]="valor" ></app-header>

<ion-content>
 
  <!--div class="mi-home">
    <ion-grid fixed class="mi-grid">
        <ion-row>
          <ion-col size="12" class="mi-titulo"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="mi-desc"></ion-col>
            <ion-col size="6" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="mi-img"></ion-col>
          </ion-row>
      </ion-grid>
      </div-->
<div class="hero">
  <h1>Montaje Industrial</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <img src="../../../assets/img/mi-inicio.jpg" />
  <div class="bar"></div>

</div>

<div class="mi-home-context">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde blanditiis commodi reprehenderit voluptate eveniet perspiciatis culpa voluptates nesciunt ipsa temporibus ipsum officia mollitia aut laudantium, accusantium labore placeat ratione.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde blanditiis commodi reprehenderit voluptate eveniet perspiciatis culpa voluptates nesciunt ipsa temporibus ipsum officia mollitia aut laudantium, accusantium labore placeat ratione.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde blanditiis commodi reprehenderit voluptate eveniet perspiciatis culpa voluptates nesciunt ipsa temporibus ipsum officia mollitia aut laudantium, accusantium labore placeat ratione.
  </p>
</div>


  <app-footer class="footer"></app-footer>
</ion-content> 
