<app-header  [navitems]="nav" [valor]="valor" seccion="HOME"></app-header>

<ion-content>

  <div class="home">
    <h1 class="animated fadeInDown slow">Montaje Industrial</h1>
    <p class="animated fadeInRight slow">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <img src="../../../assets/img/mi-inicio.jpg" />
    <div class="bar"></div>

  </div>

  <div class="mi-home-context">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde blanditiis commodi reprehenderit voluptate eveniet perspiciatis culpa voluptates nesciunt ipsa temporibus ipsum officia mollitia aut laudantium, accusantium labore placeat ratione.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde blanditiis commodi reprehenderit voluptate eveniet perspiciatis culpa voluptates nesciunt ipsa temporibus ipsum officia mollitia aut laudantium, accusantium labore placeat ratione.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde blanditiis commodi reprehenderit voluptate eveniet perspiciatis culpa voluptates nesciunt ipsa temporibus ipsum officia mollitia aut laudantium, accusantium labore placeat ratione.
    </p>
  </div>


  <app-footer class="footer"></app-footer>
</ion-content> 
